//Layout

$max-width: 1200px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$marge: 15px;

// Police


$font-default: 'Josefin Sans', sans-serif;
$font-title: 'raleway', $font-default;
$font-size-base: 87.5%; //14px

// Colors

$grey: #787878;
$light-grey: #e8e8e8;
$brown: #866b40;
$light-brown: #d1b078;

$link-color: #787878;

